<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>admin</title>
</head>
<body>
	<ul>
		<% info.forEach(function(dinfo) { %>
			<li><%= dinfo.tID %>  <%= dinfo.tName %> <%= dinfo.sex %> <%= dinfo.email %></li>
		<% }) %>
	</ul>
	<form>
		
	</form>
</body>
</html>